/* ===========================================================================
    Tabs
   =========================================================================== */

/**
 *
 * Description goes here
 *
 */

.wave-effect {
    pointer-events: none;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    background: currentColor;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(0.67);
    transition: opacity 200ms, transform 0ms 200ms;
    transition-timing-function: $td-ease;
    opacity: 0;

    &.has-focus {
        opacity: 0.26;
        animation: wave-wobble 2s $td-ease infinite alternate;
    }

    &.is-active {
        opacity: 0.26;
        transform: translate3d(-50%, -50%, 0) scale(2);
        transition: transform 300ms 60ms $td-ease-out, opacity 200ms $td-ease-out;
    }
}



/* Style variants
   =========================================================================== */
.wave-effect--fab {
    transform: translate3d(-50%, -50%, 0) scale(0);

    &.is-active {
        transform: translate3d(-50%, -50%, 0) scale(1);
    }

    &.has-focus {
        animation-name: wave-wobble-fab;
    }
}