<div class="button__scope">
    <div class="c-app-bar c-app-bar--orange">
        <div class="c-app-bar__left">
            <button class="c-button c-button--icon"><i class="mi">menu</i></button>
            <span class="c-app-bar__title">Buttons</span>
        </div>
    </div>
    <div class="l-page">
        <div class="component">

            <h2 class="component__title">Shapes</h2>

            <div class="component__body">
                <div class="component__section component__section--shapes">
                    <h2>Shapes</h2>
                    <button class="c-button">Base</button>
                    <button class="c-button c-button--raised">Raised</button>
                    <button class="c-button c-button--huge">Huge</button>
                    <button class="c-button c-button--icon"><i class="mi">menu</i></button>
                    <button class="c-button c-button--fab"><i class="mi">add</i></button>
                    <button class="c-button c-button--fab-mini"><i class="mi">add</i></button>
                </div>

                <div class="component__section component__section--colors">
                    <h2>Colors</h2>
                    <button class="c-button">Base</button>
                    <button class="c-button c-button--primary">Primary</button>
                    <button class="c-button c-button--primary c-button--raised">Primary raised</button>
                    <button class="c-button c-button--secondary-filled">secondary filled</button>
                </div>
            </div>

            <div class="component__code">
                <h2>Code</h2>
                <pre>
                    <code class="language-markup">
                        &lt;button class="c-button">Text&lt;/button>
                    </code>
                </pre>
            </div>

            <div class="component__options">
                <table>
                    <thead>
                    <tr>
                        <th>Class Name</th>
                        <th>Usage</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>.c-button</td>
                        <td>
                            <!-- Description here -->
                        </td>
                    </tr>
                    <tr>
                        <td>.c-button--raised</td>
                        <td>
                            <!-- Description here -->
                        </td>
                    </tr>
                    <tr>
                        <td>.c-button--huge</td>
                        <td>
                            <!-- Description here -->
                        </td>
                    </tr>
                    <tr>
                        <td>.c-button--icon</td>
                        <td>
                            <!-- Description here -->
                        </td>
                    </tr>
                    <tr>
                        <td>.c-button--fab</td>
                        <td>
                            <!-- Description here -->
                        </td>
                    </tr>
                    <tr>
                        <td>.c-button--fab-mini</td>
                        <td>
                            <!-- Description here -->
                        </td>
                    </tr>
                    <tr>
                        <td>.c-button--primary</td>
                        <td>
                            <!-- Description here -->
                        </td>
                    </tr>
                    <tr>
                        <td>.c-button--secondary-filled</td>
                        <td>
                            <!-- Description here -->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>