<div class="button__scope l-page l-page--has-app-bar l-page--blue" dynamic-background>
    <nav class="c-app-bar c-app-bar--blue">
        <div class="c-app-bar__left">
            <button class="c-button c-button--icon"><i class="mi">menu</i></button>
            <span class="c-app-bar__title">Buttons</span>
        </div>
        <div class="c-app-bar__right">
            <button class="c-button c-button--icon"><i class="mi">more_vert</i></button>
        </div>
    </nav>
    <div class="l-page__primary">
        <div class="c-natural-language c-natural-language--light c-natural-language--sm u-center">
            <div class="c-natural-language__section">
                <span class="c-natural-language__bold">Buttons</span> are <code class="c-natural-language__bold">&lt;a&gt;</code> or <code class="c-natural-language__bold">&lt;button&gt;</code> elements used as
                primary Calls to Action (CTAs)
            </div>
        </div>
    </div>
    <div class="l-page__secondary" dynamic-background-end>
        <!-- Base -->
        <div class="c-card">
            <div class="c-card__content">
                <div class="c-card__header">
                    <h1 class="c-card__title">Base (flat)</h1>
                    <span class="c-badge c-badge--success">Stable</span>
                </div>
                <div class="c-card__body">
                    <button class="c-button">Button</button>
                    <pre class="prettyprint">&lt;button class="c-button">Button&lt;/button></pre>
                </div>
            </div>
        </div>
        <!-- End Base -->

        <!-- Raised -->
        <div class="c-card">
            <div class="c-card__content">
                <div class="c-card__header">
                    <h1 class="c-card__title">Raised</h1>
                    <span class="c-badge c-badge--success">Stable</span>
                </div>
                <div class="c-card__body">
                    <button class="c-button c-button--raised c-button--primary">Button</button>
                    <pre class="prettyprint">&lt;button class="c-button c-button--raised">Button&lt;/button></pre>
                </div>
            </div>
        </div>
        <!-- End Raised -->

        <!-- FAB -->
        <div class="c-card">
            <div class="c-card__content">
                <div class="c-card__header">
                    <h1 class="c-card__title">Floating Action Button (FAB)</h1>
                    <span class="c-badge c-badge--success">Stable</span>
                </div>
                <div class="c-card__body">
                    <button class="c-button c-button--fab c-button--primary"><i class="mi">add</i></button>
                    <button class="c-button c-button--fab-mini c-button--primary"><i class="mi">add</i></button>
                    <pre class="prettyprint">&lt;button class="c-button c-button--fab">&lt;i class="mi">add&lt;/i>&lt;/button>
&lt;button class="c-button c-button--fab-mini">&lt;i class="mi">add&lt;/i>&lt;/button></pre>
                </div>
            </div>
        </div>
        <!-- End FAB -->

        <!-- Icon -->
        <div class="c-card">
            <div class="c-card__content">
                <div class="c-card__header">
                    <h1 class="c-card__title">Icon</h1>
                    <span class="c-badge c-badge--success">Stable</span>
                </div>
                <div class="c-card__body">
                    <button class="c-button c-button--icon"><i class="mi">add</i></button>
                    <pre class="prettyprint">&lt;button class="c-button c-button--icon">&lt;i class="mi">add&lt;/i>&lt;/button></pre>
                </div>
            </div>
        </div>
        <!-- End Icon -->

        <!-- Huge -->
        <div class="c-card">
            <div class="c-card__content">
                <div class="c-card__header">
                    <h1 class="c-card__title">Huge</h1>
                    <span class="c-badge c-badge--success">Stable</span>
                </div>
                <div class="c-card__body">
                    <button class="c-button c-button--huge c-button--primary">Button</button>
                    <pre class="prettyprint">&lt;button class="c-button c-button--huge">Button&lt;/button></pre>
                </div>
            </div>
        </div>
        <!-- End Huge -->

        <!-- Colors -->
        <div class="c-card">
            <div class="c-card__content">
                <div class="c-card__header">
                    <h1 class="c-card__title">Colors</h1>
                    <span class="c-badge c-badge--success">Stable</span>
                </div>
                <div class="c-card__body">
                    <table>
                        <tbody>
                        <tr>
                            <td>Base</td>
                            <td><button class="c-button">Button</button></td>
                            <td><button class="c-button c-button--raised">Button</button></td>
                        </tr>
                        <tr>
                            <td><code>.c-button--primary</code></td>
                            <td><button class="c-button c-button--primary">Button</button></td>
                            <td><button class="c-button c-button--raised c-button--primary">Button</button></td>
                        </tr>
                        <tr>
                            <td><code>.c-button--secondary</code></td>
                            <td><button class="c-button c-button--secondary">Button</button></td>
                            <td><button class="c-button c-button--raised c-button--secondary">Button</button></td>
                        </tr>
                        <tr>
                            <td><code>.c-button--secondary-filled</code></td>
                            <td><button class="c-button c-button--secondary-filled">Button</button></td>
                            <td><button class="c-button c-button--raised c-button--secondary-filled">Button</button></td>
                        </tr>
                        </tbody>
                    </table>

                    <pre class="prettyprint">&lt;button class="c-button c-button--primary">Button&lt;/button></pre>
                    <p>Colors act differently depending on if they're on raised or flat buttons.</p>
                    <p>Flat buttons <code class="u-dark-primary">class="c-button"</code> use the color as a text color </p>
                    <p>Raised buttons <code class="u-dark-primary">class="c-button c-button--raised"</code> use the color as a background</p>
                </div>
            </div>
        </div>
        <!-- End Colors -->


    </div>
</div>