<div class="button__scope l-page l-page--has-app-bar l-page--orange">
    <!-- TODO remove static height when background component is implemented -->
    <div class="l-page__background" style="height: 136px;"></div>
    <div class="c-app-bar c-app-bar--orange">
        <div class="c-app-bar__left">
            <button class="c-button c-button--icon"><i class="mi">menu</i></button>
            <span class="c-app-bar__title">Buttons</span>
        </div>
    </div>
    <div class="l-page__primary">
        <div class="c-card">
            <div class="c-card__content">
                <div class="c-card__body">
                    <!-- Shapes -->
                    <div class="c-card__header">
                        <div class="c-card__title">Shapes</div>
                    </div>
                    <button class="c-button">Base</button>
                    <button class="c-button c-button--raised">Raised</button>
                    <button class="c-button c-button--huge">Huge</button>
                    <button class="c-button c-button--icon"><i class="mi">menu</i></button>
                    <button class="c-button c-button--fab"><i class="mi">add</i></button>
                    <button class="c-button c-button--fab-mini"><i class="mi">add</i></button>
                    <!-- End Shapes -->

                    <!-- Colors -->
                    <div class="c-card__header">
                        <div class="c-card__title">Colors</div>
                    </div>
                    <button class="c-button">Base</button>
                    <button class="c-button c-button--primary">Primary</button>
                    <button class="c-button c-button--primary c-button--raised">Primary raised</button>
                    <button class="c-button c-button--secondary-filled">secondary filled</button>
                    <!-- End Colors -->

                    <!-- Code -->
                    <div class="c-card__header">
                        <div class="c-card__title">Code Example</div>
                    </div>
                    <pre><code class="language-markup">&lt;button class="c-button">Text&lt;/button></code></pre>
                    <!-- End Code -->

                    <!-- Options -->
                    <table>
                        <thead>
                        <tr>
                            <th>Class Name</th>
                            <th>Usage</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>.c-button</td>
                            <td>
                                <!-- Description here -->
                            </td>
                        </tr>
                        <tr>
                            <td>.c-button--raised</td>
                            <td>
                                <!-- Description here -->
                            </td>
                        </tr>
                        <tr>
                            <td>.c-button--huge</td>
                            <td>
                                <!-- Description here -->
                            </td>
                        </tr>
                        <tr>
                            <td>.c-button--icon</td>
                            <td>
                                <!-- Description here -->
                            </td>
                        </tr>
                        <tr>
                            <td>.c-button--fab</td>
                            <td>
                                <!-- Description here -->
                            </td>
                        </tr>
                        <tr>
                            <td>.c-button--fab-mini</td>
                            <td>
                                <!-- Description here -->
                            </td>
                        </tr>
                        <tr>
                            <td>.c-button--primary</td>
                            <td>
                                <!-- Description here -->
                            </td>
                        </tr>
                        <tr>
                            <td>.c-button--secondary-filled</td>
                            <td>
                                <!-- Description here -->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- End Options -->
                </div>
            </div>
        </div>
    </div>
</div>