<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thread test page</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-animate.js"></script>

    <link rel="stylesheet" href="./dist/thread.css">
    <script src="./dist/thread.js"></script>

</head>
<body ng-app="thread" class="l-page l-page--orange l-page--has-app-bar l-page--full-screen" scroll-collapse>
<div class="c-app-bar c-app-bar--orange" scroll-collapse>
    <div class="c-app-bar__left">
        <span class="c-app-bar__logo">
            <button class="c-button c-button--icon"><i class="mi">menu</i></button>
        </span>
        <button class="c-button c-button--icon"><i class="mi">arrow_back</i></button>
        <span class="c-app-bar__title">Thread</span>
    </div>
    <div class="c-app-bar__right">
        <td-menu position="top right">
            <td-menu-target class="c-button--icon u-light-primary"><i class="mi">more_vert</i></td-menu-target>
            <td-menu-content>
                <td-menu-item>Item 1</td-menu-item>
            </td-menu-content>
        </td-menu>
    </div>
</div>

<prodis class="c-natural-language--light u-full-height u-center">
    <prodis-section name="state">
        I am located in the state of
        <div class="c-input c-input--inline c-input--secondary c-input--large c-input--natural-language">
            <select ng-model="state" ng-change="$prodis.goTo('payment')" select-resize class="c-input__field">
                <option value="tx">Texas</option>
                <option value="somewhere else">Somewhere else</option>
                <option value="tx">Texas</option>
                <option value="tx">Texas</option>
                <option value="tx">Texas</option>
            </select>
        </div>
    </prodis-section>
    <prodis-section name="payment">
        I will use
        <div class="c-input c-input--inline c-input--secondary c-input--large c-input--natural-language">
            <select ng-change="$prodis.goTo('shipping')" ng-model="paymentModel" select-resize class="c-input__field">
                <option value="paypal">Paypal</option>
                <option value="stripe">Stripe</option>
            </select>
        </div>
        to collect payment.
    </prodis-section>
    <prodis-section name="shipping">
        I will
        <div class="c-input c-input--inline c-input--secondary c-input--large c-input--natural-language">
            <select select-resize class="c-input__field" ng-model="shipping">
                <option value="freeShipping">Offer free shipping</option>
                <option value="notFree">Not offer free shipping</option>
            </select>
        </div>
        for all orders over
        <div class="c-input c-input--inline c-input--secondary c-input--large c-input--number-4 c-input--natural-language">
            <span class="c-input__addon" ng-show="over">$</span>
            <input type="text" ng-model="over" class="c-input__field">
        </div>
        , otherwise I'll charge
        <div class="c-input c-input--inline c-input--secondary c-input--large c-input--number-4 c-input--natural-language">
            <span class="c-input__addon" ng-show="cost">$</span>
            <input type="text" ng-model="cost" class="c-input__field" ng-change="$prodis.goTo('complete')">
        </div>
        per order.*
    </prodis-section>
    <prodis-section name="complete" class="c-prodis__section--complete">
        <button class="c-button c-button--huge c-button--primary">
            Configure Settings
            <i class="mi c-button__icon c-button__icon--right">arrow_forward</i>
        </button>
    </prodis-section>
</prodis>

</body>
</html>