<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thread test page</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-animate.js"></script>

    <link rel="stylesheet" href="./dist/thread.css">
    <script src="./dist/thread.js"></script>

</head>
<body ng-app="thread" class="l-page l-page--orange l-page--has-app-bar" scroll-collapse dynamic-background="112">
<div class="c-app-bar c-app-bar--orange" scroll-collapse>
    <div class="c-app-bar__left">
        <span class="c-app-bar__logo">
            <button class="c-button c-button--icon"><i class="mi">menu</i></button>
        </span>
        <button class="c-button c-button--icon"><i class="mi">arrow_back</i></button>
        <span class="c-app-bar__title">Thread</span>
    </div>
    <div class="c-app-bar__right">
        <td-menu position="top right">
            <td-menu-target class="c-button--icon u-light-primary"><i class="mi">more_vert</i></td-menu-target>
            <td-menu-content>
                <td-menu-item>Item 1</td-menu-item>
            </td-menu-content>
        </td-menu>
    </div>
</div>
<td-tabs class="c-tab--orange" dynamic-background-end>
    <td-tab>
        <td-tab-title>
            <span>Tab 1</span>
        </td-tab-title>
        <td-tab-body>
            <div class="c-card u-no-margin-top">
                <div class="c-card__content">
                    <div class="c-card__header">
                        <div class="c-card__title">Title</div>
                    </div>
                    <div class="c-card__body">
                        <p class="c-card__description">test</p>
                    </div>

                    <div class="c-card__footer">footer</div>
                </div>
            </div>
        </td-tab-body>
    </td-tab>
    <td-tab>
        <td-tab-title>
            <span>Tab 1</span>
        </td-tab-title>
        <td-tab-body>
            <div class="c-card u-no-margin-top">
                <div class="c-card__content">
                    <div class="c-card__header">
                        <div class="c-card__title">Title</div>
                    </div>
                    <div class="c-card__body">
                        <div class="c-input c-input--primary c-input--large">
                            <label class="c-input__label">Test Label</label>
                            <input type="text" class="c-input__field" required ng-model="test">
                        </div>
                        <span class="c-input__icon"><i class="mi">account_box</i></span>
                        <div class="c-input c-input--primary c-input--with-icon">
                            <input type="text" class="c-input__field">
                        </div>
                    </div>

                    <div class="c-card__footer">footer</div>
                </div>
            </div>
        </td-tab-body>
    </td-tab>
    <td-tab>
        <td-tab-title>
            <span>Tab 1</span>
        </td-tab-title>
        <td-tab-body>
            <div class="c-card u-no-margin-top">
                <div class="c-card__content">
                    <div class="c-card__header">
                        <div class="c-card__title">Title</div>
                    </div>
                    <div class="c-card__body">
                        <div class="c-input c-input--primary c-input--large">
                            <label class="c-input__label">Test Label</label>
                            <input type="text" class="c-input__field" required ng-model="test">
                        </div>
                        <span class="c-input__icon"><i class="mi">account_box</i></span>
                        <div class="c-input c-input--primary c-input--with-icon">
                            <input type="text" class="c-input__field">
                        </div>
                    </div>

                    <div class="c-card__footer">footer</div>
                </div>
            </div>
        </td-tab-body>
    </td-tab>
</td-tabs>
</body>