.l-row {
    overflow: auto;
    margin-left: -8px;
    margin-right: -8px;
    padding-top: 8px;
    padding-bottom: 8px;

    &:before {
        display: table;
        content: " ";
    }
}

.l-container {
    margin-top: -8px;
}

[class^="l-col"] {
    padding-left: 8px;
    padding-right: 8px;
    float: left;
    width: 100%;

    & > [class^="l-col"] {
        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

@for $i from 1 through 20 {
    .l-col-#{$i * 5} {
        width: $i * 5%;
    }
}

@for $i from 1 through 20 {
    .l-col-mobile-#{$i * 5} {
        @media screen and (max-width: #{$bp-mobile - 1px}) {
            width: $i * 5%;
        }
    }
}

@for $i from 1 through 20 {
    .l-col-gt-mobile-#{$i * 5} {
        @media screen and (min-width: $bp-mobile) {
            width: $i * 5%;
        }
    }
}