@mixin page-color($color) {
    .l-page__background {
        background: $color;
    }

    &.l-page--full-screen {
        background: $color;
    }
}

.l-page {
    position: relative;
    overflow: auto;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 176px;  //TODO: remove when variable page background directive is finished
        pointer-events: none;
        transition: transform 0.3s $td-ease-out;

        &.collapsed {
            transform: translate3d(0, -176px, 0);   //TODO: remove when variable page background directive is finished
        }
    }

    &__primary,
    &__secondary {
        position: relative;
        width: $content-width;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    &--has-app-bar {
        padding-top: $unit * 8;
        transition: transform 0.3s $td-ease-out;

        &.collapsed {
            transform: translate3d(0, -$unit * 8, 0);
        }
    }

    &--orange { @include page-color($thread-orange); }
    &--full-screen { height: 100%; }
}