/* ===========================================================================
    Page Layout
   =========================================================================== */

/**
 *
 * Description goes here
 *
 */

.l-page {
    position: relative;
    overflow: auto;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        transition: transform 0.3s $td-ease-out;

        &.is-collapsed {
            transform: translate3d(0, -100%, 0);
        }
    }

    &__primary,
    &__secondary {
        position: relative;
        width: $content-width;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
}


/* Configuration Mixins
   =========================================================================== */
@mixin page-color($color) {
    .l-page__background {
        background: $color;
    }

    &.l-page--full-screen {
        background: $color;
    }
}


/* Style variants
   =========================================================================== */
.l-page--full-screen { height: 100%; }

.l-page--has-app-bar {
    padding-top: $unit * 8;
    transition: transform 0.3s $td-ease-out;
}


/* Color variants
   =========================================================================== */
.l-page--white { @include page-color($thread-white); }
.l-page--purple { @include page-color($thread-purple); }
.l-page--green { @include page-color($thread-green); }
.l-page--teal { @include page-color($thread-teal); }
.l-page--orange { @include page-color($thread-orange); }
.l-page--blue { @include page-color($thread-blue); }
.l-page--salmon { @include page-color($thread-salmon); }
.l-page--pink { @include page-color($thread-pink); }
.l-page--red-orange { @include page-color($thread-red-orange); }
.l-page--light-gray { @include page-color($thread-gray); }
.l-page--dark-gray { @include page-color($thread-dark-gray); }
