@mixin page-color($color) {
    .l-page__background {
        background: $color;
    }
}

.l-page {
    position: relative;
    overflow: auto;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 176px;
        pointer-events: none;
        transition: transform 0.3s $td-ease-out;

        &.collapsed {
            transform: translate3d(0, -136px, 0);
        }
    }

    /* stylelint-disable block-no-empty */
    &__primary {}
    &__secondary {}
    /* stylelint-enable */

    &--has-app-bar {
        padding-top: 64px;
        transition: transform 0.3s $td-ease-out;

        &.collapsed {
            transform: translate3d(0, -64px, 0);
        }
    }

    &--orange { @include page-color($thread-orange); }
}