<div class="badge__scope l-page l-page--has-app-bar l-page--orange" dynamic-background>
    <nav class="c-app-bar c-app-bar--orange">
        <div class="c-app-bar__left">
            <button class="c-button c-button--icon"><i class="mi">menu</i></button>
            <span class="c-app-bar__title">Badge</span>
        </div>
        <div class="c-app-bar__right">
            <button class="c-button c-button--icon"><i class="mi">more_vert</i></button>
        </div>
    </nav>

    <div class="l-page__primary">
        <div class="c-natural-language c-natural-language--light c-natural-language--sm u-center">
            <div class="c-natural-language__section">
                <span class="c-natural-language__bold">Badges</span> are <code class="c-natural-language__bold">&lt;span></code> elements used to display status
            </div>
        </div>
    </div>
    <div class="l-page__secondary" dynamic-background-end>
        <!-- Base -->
        <div class="c-card">
            <div class="c-card__content">
                <div class="c-card__header">
                    <h1 class="c-card__title">Base</h1>
                    <span class="c-badge c-badge--success">Stable</span>
                </div>
                <div class="c-card__body">
                    <span class="c-badge">Badge</span>

                    <pre class="prettyprint">&lt;span class="c-badge">Badge&lt;/span></pre>
                </div>
            </div>
        </div>
        <!-- End Base -->

        <!-- Colors -->
        <div class="c-card">
            <div class="c-card__content">
                <div class="c-card__header">
                    <h1 class="c-card__title">Colors</h1>
                    <span class="c-badge c-badge--success">Stable</span>
                </div>
                <div class="c-card__body">
                    <table>
                        <tbody>
                        <tr>
                            <td>Base</td>
                            <td><span class="c-badge">Badge</span></td>
                        </tr>
                        <tr>
                            <td><code>.c-badge--success</code></td>
                            <td><span class="c-badge c-badge--success">Badge</span></td>
                        </tr>
                        <tr>
                            <td><code>.c-badge--primary</code></td>
                            <td><span class="c-badge c-badge--primary">Badge</span></td>
                        </tr>
                        <tr>
                            <td><code>.c-badge--secondary</code></td>
                            <td><span class="c-badge c-badge--secondary">Badge</span></td>
                        </tr>
                        </tbody>
                    </table>

                    <pre class="prettyprint">&lt;span class="c-badge c-badge--success">Badge&lt;/span></pre>
                </div>
            </div>
        </div>
        <!-- End Colors -->
    </div>
</div>