/* ===========================================================================
    App Bar
   =========================================================================== */

/**
 *
 * Description goes here
 *
 */

.c-app-bar {
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    height: $unit * 8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform-origin: top;
    position: fixed;
    transition: transform 200ms $td-ease;

    &__back {
        margin-left: round($unit * 1.5);
    }

    &__logo {
        display: inline-block;
        margin-left: round($unit * 1.5);
    }

    &__title {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin-left: $unit;
        vertical-align: middle;
    }

    &.is-collapsed {
        transform: scale(1, 0);

        & > * {
            opacity: 0;
        }
    }

    & > * {
        transition: opacity 0.2s;
    }
}


/* Configuration mixins
   =========================================================================== */
@mixin app-bar-color($background, $text) {
    background: $background;
    color: $text;
}


/* Color Variants
   =========================================================================== */
.c-app-bar--white { @include app-bar-color($thread-white, $light-primary-text); }
.c-app-bar--purple { @include app-bar-color($thread-purple, $light-primary-text); }
.c-app-bar--green { @include app-bar-color($thread-green, $light-primary-text); }
.c-app-bar--cyan { @include app-bar-color($thread-cyan, $light-primary-text); }
.c-app-bar--teal { @include app-bar-color($thread-teal, $light-primary-text); }
.c-app-bar--orange { @include app-bar-color($thread-orange, $light-primary-text); }
.c-app-bar--blue { @include app-bar-color($thread-blue, $light-primary-text); }
.c-app-bar--salmon { @include app-bar-color($thread-salmon, $light-primary-text); }
.c-app-bar--pink { @include app-bar-color($thread-pink, $light-primary-text); }
.c-app-bar--red-orange { @include app-bar-color($thread-red-orange, $light-primary-text); }
.c-app-bar--light-gray { @include app-bar-color($thread-gray, $light-primary-text); }
.c-app-bar--dark-gray { @include app-bar-color($thread-dark-gray, $light-primary-text); }
