/* ===========================================================================
    App Bar
   =========================================================================== */

/**
 *
 * Description goes here
 *
 */

.c-app-bar {
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    height: $unit * 8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform-origin: top;
    position: fixed;
    transition: transform 0.2s;

    &__back {
        margin-left: round($unit * 1.5);
    }

    &__logo {
        display: inline-block;
        margin-left: round($unit * 1.5);
    }

    &__title {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin-left: $unit;
        vertical-align: middle;
    }

    &.collapsed {
        transform: scale(1, 0);

        & > * {
            opacity: 0;
        }
    }

    & > * {
        transition: opacity 0.2s;
    }
}



/* Configuration mixins
   =========================================================================== */
@mixin app-bar-color($background, $text) {
    background: $background;
    color: $text;
}


/* Color Variants
   =========================================================================== */

.c-app-bar--orange { @include app-bar-color($thread-orange, $light-primary-text); }