@mixin badge-color($background, $text) {
    background: $background;
    color: $text;
}

.c-badge {
    border-radius: 10px;
    height: 20px;
    letter-spacing: 0.1em;
    font-size: 11px;
    line-height: 1.2;
    padding: 3px 12px;
    text-transform: uppercase;

    &--success {
        @include badge-color($thread-green, $light-primary-text);
    }
}