/* ===========================================================================
    Buttons
   =========================================================================== */

/**
 *
 * Description goes here
 *
 */

.c-button {
    color: inherit;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    position: relative;
    overflow: hidden;
    line-height: 36px;
    min-width: 88px;
    border-radius: 2px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: $unit * 2;
    padding-right: $unit * 2;
    margin: $unit;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.05em;
    background: none;
    transition: background 200ms $td-ease, box-shadow 200ms $td-ease;
    white-space: nowrap;

    //masks elements inside border radius
    z-index: 1;

    &:focus {
        outline: none;
    }

    &__icon {
        color: inherit;
        fill: currentColor;
    }
}


/* Configuration mixins
   =========================================================================== */
@mixin button-color($text-color, $background-color: none) {
    color: $text-color;
    background: $background-color;

    &:focus,
    &:hover {
        color: $text-color;

        @if $background-color == 'none' {
            background: rgba(0, 0, 0, 0.12);
        } @else {
            background: mix(black, $background-color, 10%);
        }
    }
}

@mixin button-raised() {
    box-shadow: $shadow;

    &:active,
    &:hover {
        box-shadow: $shadow-raised;
    }
}

@mixin button-fab($width: 56px, $height: 56px) {
    width: $width;
    height: $height;
    min-width: auto;
    border-radius: 50%;
    overflow: visible;
    padding: 0;
}

@mixin button-disabled($text-color, $background-color) {
    color: $text-color;
    background: $background-color;
    box-shadow: none;
    cursor: default;

    &:hover {
        background: $background-color;
    }
}


/* Style variants
   =========================================================================== */

.c-button--tab {
    height: $unit * 6;
    line-height: 48px;
    padding-left: $unit * 3;
    padding-right: $unit * 3;
    border-radius: 0;
    margin: 0;
}

.c-button--raised {
    @include button-raised();
}

.c-button--huge {
    border-radius: 24px;
    padding: #{$unit / 2} #{$unit * 3};
    @include button-raised();
}

.c-button--fab {
    @include button-fab();
    @include button-raised();
}

.c-button--fab-mini {
    @include button-fab(40px, 40px);
    @include button-raised();
}

.c-button--icon {
    @include button-fab(40px, 40px);

    &:hover,
    &:focus {
        background: none !important;
    }
}

.c-button--menu {
    margin: 0;
    padding-left: $unit * 2;
    padding-right: $unit * 2;
}

.c-button__icon--left {
    margin-left: -$unit;
    margin-right: $unit;
}

.c-button__icon--right {
    margin-left: $unit;
    margin-right: -$unit;
}


/* Color variants
   =========================================================================== */

.c-button--primary {
    @include button-color($thread-primary);

    //Reverse color and background if button is raised
    &.c-button--raised,
    &.c-button--fab,
    &.c-button--fab-mini,
    &.c-button--huge {
        @include button-color($light-primary-text, $thread-primary);
    }

    &.is-disabled {
        @include button-disabled($dark-disabled-text, $thread-secondary-dark);
    }
}

.c-button--secondary {
    @include button-color($dark-disabled-text);

    &.is-disabled {
        @include button-disabled($dark-disabled-text, $thread-secondary-dark);
    }
}

.c-button--secondary-filled {
    @include button-color($dark-disabled-text, $thread-secondary-light);

    &.is-disabled {
        @include button-disabled($dark-disabled-text, $thread-secondary-dark);
    }
}