/* ===========================================================================
    Card
   =========================================================================== */

/**
 *
 * Description goes here
 *
 */

.c-card {
    box-shadow: $shadow;
    background: white;
    border-radius: 2px;
    margin-left: $unit;
    margin-right: $unit;
    margin-bottom: $unit * 2;

    &__media {
        position: relative;
        overflow: hidden;
        flex-basis: 40%;

        &-img {
            height: auto;
            width: 100%;

            @media screen and (min-width: $bp-mobile) {
                position: absolute;
                height: 100%;
                width: auto;
                bottom: 50%;
                right: 50%;
                transform: translate3d(50%, 50%, 0);
            }
        }

        @for $i from 1 through 20 {
            &--#{$i * 5} {
                flex-basis: $i * 5%;
                flex-shrink: 0;
            }
        }
    }

    &__content {
        flex-shrink: 1;
        flex-grow: 1;
        overflow: hidden;
    }

    &__header {
        min-height: $unit * 8;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: $unit * 2;
        padding-right: $unit * 2;
    }

    &__help {
        cursor: pointer;
        i {
            color: $dark-divider;
        }
    }

    &__title {
        display: inline-block;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 0.1em;
        line-height: 64px;
    }

    &__sub-title {
        margin-left: 8px;
        display: inline;
        font-size: 14px;
        color: $dark-secondary-text;
    }

    &__body {
        padding-left: $unit * 2;
        padding-right: $unit * 2;
        padding-bottom: $unit * 2;
    }

    &__description {
        padding-bottom: $unit;
        padding-top: 0;
        color: $dark-secondary-text;
        font-size: 16px;
    }

    &__footer {
        padding-left: $unit * 2;
        padding-right: $unit * 2;
        min-height: $unit * 8;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.03);
        justify-content: space-between;

        @media screen and (min-width: $bp-mobile) {
            flex-wrap: nowrap;
            flex-direction: row;
        }
    }

    &__footer-left {
        align-self: flex-start;
    }

    &__footer-right {
        align-self: flex-end;
    }

    &__footer-left,
    &__footer-right {
        @media screen and (min-width: $bp-mobile) {
            align-self: auto;
        }
    }
}


/* Style variants
   =========================================================================== */

.c-card--with-media {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $bp-mobile) {
        flex-direction: row;
    }
}