/* ===========================================================================
    Switch
   =========================================================================== */

/**
 *
 * Description goes here
 *
 */

.c-drag-handle {
    > .mi {
        color: $dark-disabled-text;

        &:first-child {
            margin-right: -18px;
        }

        &:nth-child(2) {
            margin-left: -18px;
        }
    }
}