/* ===========================================================================
    Input
   =========================================================================== */

/**
 *
 * Description goes here
 *
 */

.c-input {
    padding-top: $unit * 2;
    margin-bottom: $unit;
    position: relative;
    display: table;
    width: 100%;

    &:not(.c-input--has-messages),
    &:not(.c-input--has-addon)
    .c-input__content {
        &:before {
            content: '';
            height: 2px;
            transition: transform 200ms $td-ease-out, background 200ms $td-ease;
            transform: scale(0);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
        }

        &:after {
            content: '';
            height: 1px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 5;
            transition: background 200ms $td-ease;
        }
    }

    &__label {
        display: inline-block;
        font-size: 16px;
        transform: translate3d(0, 20px, 0);
        transform-origin: top left;
        transition: transform 200ms $td-ease, color 200ms $td-ease;
        pointer-events: none;
    }

    &__field {
        display: table-cell;
        padding-top: 2px;
        line-height: 16px;
        font-size: 16px;
        padding-bottom: $unit;
        width: 100%;
    }

    &__icon {
        font-size: 24px;
        width: $unit * 6;
        height: $unit * 6;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    &__addon {
        display: table-cell;
        width: 1px;
        transition: color 200ms $td-ease;
        margin-right: -6px;
        font-size: 16px;
        white-space: nowrap;
    }

    &__content {
        position: relative;
        display: table;
        width: 100%;
    }

    &__messages {
        & > * {
            font-size: 12px;
            line-height: 10px;
            padding: 0;
            padding-top: 6px;
            transition: color 200ms $td-ease;
        }
    }

    &.has-required {
        .c-input__label:after {
            content: '*';
            padding-left: 4px;
        }
    }

    &.has-required-invalid {
        .c-input__label:after {
            color: $thread-error;
        }
    }

    &.has-focus,
    &.has-value {
        .c-input__label {
            pointer-events: auto;
            transform: scale(0.75) translate3d(0, 0, 0);
        }
    }

    &.has-focus {
        &.c-input:before,
        .c-input__content:before {
            transform: scale(1);
        }
    }
}


/* Configuration mixins
   =========================================================================== */
@mixin input-color(
$active-color,
$text-color: $dark-primary-text,
$border-color: $dark-divider,
$label-color: $dark-secondary-text,
$error-color: $thread-error
) {
    .c-input__field {
        color: $text-color;
    }

    .c-input__label,
    .c-input__addon {
        color: $label-color;
    }

    &.has-focus {
        .c-input__label {
            color: $active-color;
        }

        .c-input__addon {
            color: $active-color;
        }
    }

    &:before,
    .c-input__content:before {
        background: $active-color;
    }

    &:after,
    .c-input__content:after {
        background: $border-color;
    }

    .c-input__content {
        &:before {
            background: $active-color;
        }

        &:after {
            background: $border-color;
        }
    }
}

@mixin input-error($error-color: $thread-error) {
    .c-input {
        &__label { color: $error-color; }
        &__addon { color: $error-color; }
        &__messages > * { color: $error-color; }

        &:before,
        &:after,
        &__content:before,
        &__content:after {
            background: $error-color;
        }
    }
}


/* Color variants
   =========================================================================== */
.c-input--primary {
    @include input-color($thread-primary);
}

.c-input--secondary {
    @include input-color($light-primary-text, $light-primary-text, $light-divider, $light-secondary-text);
}

.c-input--natural-language {
    &.c-input--primary {
        @include input-color($thread-primary,$dark-primary-text, $thread-primary);
    }

    &.c-input--secondary {
        @include input-color($light-primary-text, $light-primary-text, $light-primary-text, $light-secondary-text);
    }
}

.c-input.has-error {
    @include input-error();
}

/* Style variants
   =========================================================================== */
.c-input--large {
    .c-input__field,
    .c-input__addon {
        font-size: 32px;
        margin-top: -4px;
    }

    .c-input__label {
        transform: translate3d(0, 16px, 0) scale(2);
    }
}

.c-input--with-icon {
    width: calc(100% - 52px);
    display: inline-block;
    bottom: $unit;
}

.c-input--inline {
    width: auto;
    display: inline-block;
    margin-bottom: 0;
}

.c-input--number {
    .c-input__field {
        //0.5859em is the width of 1 number exactly
        width: 0.5859em * 3;
    }
}

@for $i from 1 through 6 {
    .c-input--number-#{$i} {
        .c-input__field {
            //0.5859em is the width of 1 number exactly
            width: 0.5859em * $i;
        }
    }
}