
@mixin input-color(
    $active-color,
    $text-color: $dark-primary-text,
    $border-color: $dark-divider,
    $label-color: $dark-secondary-text
) {
    .c-input__field {
        color: $text-color;
    }

    .c-input__label {
        color: $label-color;
    }

    &.c-input {
        &.has-focus {
            .c-input__label {
                color: $active-color;
            }

            .c-input__addon {
                color: $active-color;
            }
        }

        &:before {
            background: $active-color;
        }

        &:after {
            background: $border-color;
        }
    }
}

.c-input {
    margin-top: 16px;
    margin-bottom: 8px;
    position: relative;

    &:before {
        content: '';
        height: 2px;
        transition: transform 200ms $td-ease-out;
        transform: scale(0);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
    }

    &:after {
        content: '';
        height: 1px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
    }

    &__label {
        display: inline-block;
        font-size: 16px;
        transform: translate3d(0, 20px, 0);
        transform-origin: top left;
        transition: transform 200ms $td-ease;
        pointer-events: none;
    }

    &__field {
        font-size: 16px;
        padding-bottom: 8px;
        width: 100%;
    }

    &__icon {
        font-size: 24px;
        width: 48px;
        height: 48px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    /* stylelint-disable block-no-empty */
    &__container { }
    /* stylelint-enable */

    &__addon {
        transition: color 200ms $td-ease;
        margin-right: -6px;
        font-size: 16px;
    }

    &.has-focus,
    &.has-value {
        .c-input__label {
            pointer-events: auto;
            transform: scale(0.75) translate3d(0, 0, 0);
        }
    }

    &.has-focus {
        &.c-input:before {
            transform: scale(1);
        }
    }

    &--primary {
        @include input-color($thread-primary);
    }

    &--secondary {
        @include input-color($light-primary-text, $light-primary-text, $light-divider, $light-secondary-text);
    }

    &--large {
        .c-input__field,
        .c-input__addon {
            font-size: 36px;
        }
    }

    &--with-icon {
        width: calc(100% - 52px);
        display: inline-block;
        bottom: 8px;
    }

    &--inline {
        width: auto;
        display: inline-block;
        margin-bottom: 0;
    }

    &--natural-language {
        &.c-input--primary {
            @include input-color($thread-primary,$dark-primary-text, $thread-primary);
        }

        &.c-input--secondary {
            @include input-color($light-primary-text, $light-primary-text, $light-primary-text, $light-secondary-text);
        }
    }

    &--number {
        .c-input__field {
            width: 0.5859em * 3;
        }
    }

    @for $i from 1 through 6 {
        &--number-#{$i} {
            .c-input__field {
                width: 0.5859em * $i;
            }
        }
    }
}

//@mixin input-color($text-color, $border-color, $border-color-focus: none) {
//    color: $text-color;
//    border-color: $border-color;
//
//    ~ .c-input__addon {
//        color: $text-color;
//        border-color: $border-color;
//    }
//
//    @if $border-color-focus != none {
//        &:focus {
//            border-color: $border-color-focus;
//
//            & ~ &__addon {
//                border-color: $border-color-focus;
//            }
//        }
//    }
//}
//
//.c-input {
//    margin-bottom: 16px;
//    background: none;
//    font-size: 16px;
//    order: 1;
//    width: 100%;
//
//    border-top-style: none;
//    border-right-style: none;
//    border-left-style: none;
//    border-bottom: 1px solid;
//    padding-bottom: 4px;
//
//    &:focus {
//        border-bottom-width: 2px;
//        border-bottom-style: solid;
//        outline: none;
//        padding-bottom: 3px;
//    }
//
//    @at-root select#{&} {
//        appearance: none;
//        background: url(//d3gr3cy7lgjff0.cloudfront.net/images/ic_arrow_drop_down_white.svg) no-repeat right;
//        padding-right: 24px;
//    }
//
//    @include font();
//
//    &__container {
//        display: inline-flex;
//        vertical-align: bottom;
//    }
//
//    &__addon {
//        font-weight: normal;
//        border-bottom-width: 1px;
//        border-bottom-style: solid;
//        padding-bottom: 4px;
//        order: 0;
//        left: 0;
//        position: relative;
//    }
//
//    &:focus ~ &__addon {
//        border-bottom-width: 2px;
//        padding-bottom: 3px;
//    }
//
//    &--large {
//        font-size: 24px;
//
//        @media screen and (min-width: $bp-mobile) {
//            font-size: 36px;
//        }
//    }
//
//    &--natural-language {
//        &.c-input--light {
//            @include input-color($light-primary-text, $light-primary-text);
//        }
//
//        &.c-input--dark {
//            @include input-color($dark-primary-text, $thread-primary);
//        }
//    }
//
//    &--light {
//        @include input-color($light-primary-text, $light-divider, $light-primary-text);
//    }
//
//    &--dark {
//        @include input-color($dark-primary-text, $dark-divider, $thread-primary);
//    }
//
//    &--inline {
//        margin-bottom: 0;
//        padding-bottom: 1px;
//
//        ~ .c-input__addon {
//            padding-bottom: 1px;
//        }
//
//        &:focus {
//            padding-bottom: 0;
//
//            ~ .c-input__addon {
//                padding-bottom: 1px;
//            }
//        }
//    }
//
//    //Creates input with exact number width based on font size
//    &--number {
//        width: 0.5859em * 3;
//    }
//
//    @for $i from 1 through 6 {
//        &--number-#{$i} {
//            width: 0.5859em * $i;
//        }
//    }
//}