/* ===========================================================================
    Link
   =========================================================================== */

/**
 *
 * Description goes here
 *
 */

.c-link {
    cursor: pointer;
    text-decoration: underline;
    color: $thread-primary;

    &:link,
    &:visited,
    &:hover,
    &:active {
        cursor: pointer;
        text-decoration: underline;
        color: $thread-primary;
    }
}