/* ===========================================================================
    Link
   =========================================================================== */

/**
 *
 * Description goes here
 *
 */

.c-link {
    cursor: pointer;
    text-decoration: underline;
    color: $thread-primary;

    &:link,
    &:visited,
    &:hover,
    &:active {
        cursor: pointer;
        text-decoration: underline;
        color: $thread-primary;
    }
}


/* Configuration mixins
   =========================================================================== */
@mixin link-color($color) {
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: $color;
    }
}

/* Color variants
   =========================================================================== */

.c-link--light {
    @include link-color($light-primary-text);
}