/* ===========================================================================
    Natural Language
   =========================================================================== */

/**
 *
 * Description goes here
 *
 */

.c-natural-language {
    font-weight: lighter;
    font-size: 24px;
    padding: 0 8px;
    width: $content-width;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $bp-mobile) {
        font-size: 36px;
    }

    &__section {
        margin-bottom: 24px;
    }
}



/* Configuration Mixins
   =========================================================================== */
@mixin natural-language-color($text-color, $action-color, $action-border-color: none) {
    color: $text-color;

    option {
        color: $dark-primary-text;
    }

    .c-natural-language__action {
        color: $action-color;

        @if $action-border-color == 'none' {
            border-bottom-color: $action-border-color;
        } @else {
            border-bottom-color: $action-color;
        }
    }
}



/* Color variants
   =========================================================================== */

.c-natural-language--light {
    @include natural-language-color($light-secondary-text, $light-primary-text);
}

.c-natural-language--dark {
    @include natural-language-color($dark-primary-text, $dark-primary-text, $thread-primary);

    .c-natural-language__input {
        color: $dark-primary-text;
        border-color: $thread-primary;

        @at-root select#{&} {
            background: url(//d3gr3cy7lgjff0.cloudfront.net/images/ic_arrow_drop_down_secondary.svg) no-repeat right;
        }
    }

    color: $dark-primary-text;
}