/* ===========================================================================
    Variables
   =========================================================================== */

/**
 *
 * Description goes here
 *
 */

/* Page flow
   =========================================================================== */
$unit: 8px;
$content-width: 800px;


/* Shadows
   =========================================================================== */
$shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
$shadow-raised: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 4px 8px 0 rgba(0, 0, 0, 0.12);


/* Timing functions
   =========================================================================== */
$td-ease: cubic-bezier(0.4, 0, 0.2, 1);
$td-ease-in: cubic-bezier(0.4, 0, 1, 1);
$td-ease-out: cubic-bezier(0, 0, 0.2, 1);


/* Text colors
   =========================================================================== */
$dark-primary-text: rgba(0, 0, 0, 0.87);
$dark-secondary-text: rgba(0, 0, 0, 0.54);
$dark-disabled-text: rgba(0, 0, 0, 0.38);
$dark-divider: rgba(0, 0, 0, 0.12);

$light-primary-text: rgba(255, 255, 255, 1);
$light-secondary-text: rgba(255, 255, 255, 0.7);
$light-disabled-text: rgba(255, 255, 255, 0.3);
$light-divider: rgba(255, 255, 255, 0.12);
$light-shadow: rgba(0, 0, 0, 0.2);


/* Primary colors
   =========================================================================== */
$thread-primary: #FFAB00;
$thread-success: #7ED321;
$thread-error: #DD3226;
$thread-secondary-light: rgba(158, 158, 158, 0.2);
$thread-secondary-dark: rgba(0, 0, 0, 0.2);


/* Page colors
   =========================================================================== */
$thread-white: #FFF;
$thread-purple: #684BB6;
$thread-green: #3EC671;
$thread-teal: #0FB3CC;
$thread-orange: #FF8055;
$thread-blue: #1E66C3;
$thread-salmon: #BC7180;
$thread-pink: #C45898;
$thread-light-gray: #F2F2F2;
$thread-gray: #EEE;
$thread-dark-gray: #79919D;
$thread-red-orange: #EC6060;


/* Breakpoints
   =========================================================================== */
$bp-desktop: 1200px;
$bp-tablet: 960px;
$bp-mobile: 600px;