<div class="c-image-manager" image-scroller
     ng-class="{
        'c-image-manager--single': vm.singleMode,
        'c-image-manager--sm': vm.size === 'sm',
        'c-image-manager--md': vm.size === 'md',
        'c-image-manager--lg': vm.size === 'lg'
     }">
    <button class="c-image-manager__arrow c-image-manager__arrow--left c-button c-button--raised c-button--icon" image-scroller-arrow="left"><i class="mi">keyboard_arrow_left</i></button>
    <button class="c-image-manager__arrow c-image-manager__arrow--right c-button c-button--raised c-button--icon" image-scroller-arrow="right"><i class="mi">keyboard_arrow_right</i></button>
    <div class="c-image-manager__container">
        <ul class="c-image-manager__list" image-container vln-drag="images">
            <li ng-repeat="file in images track by $index" class="c-image-manager__item hover" vln-drag-item="file" ng-if="!vm.singleMode">
                <img src="{{file.imageLink.fullUri}}" vln-drag-handle/>
                <div class="c-image-manager__hover u-light-primary" ng-class="{'visible': file.isOpen}" ng-if="!vm.galleryMode">
                    <span class="c-image-manager__action hide-mobile" ng-click="vm.openEditor(file)"><i class="mi">mode_edit</i></span>
                    <span class="c-image-manager__action" ng-click="vm.openImageMetadataModal(file)"><i class="mi">info</i></span>
                    <span class="c-image-manager__action" ng-click="vm.removeImage(file)"><i class="mi">clear</i></span>
                </div>
            </li>
            <li class="c-image-manager__item c-image-manager__item--single hover" ng-if="vm.singleMode && image">
                <img src="{{image.imageLink.fullUri}}"/>
                <div class="c-image-manager__hover u-light-primary" ng-class="{'visible': image.isOpen}" ng-if="!vm.galleryMode">
                    <span class="c-image-manager__action hide-mobile" ng-click="vm.openEditor(image)"><i class="mi">mode_edit</i></span>
                    <span class="c-image-manager__action c-image-manager__action--hide-overflow" ng-click="vm.openImageMetadataModal(image)"><i class="mi">info</i></span>
                    <span class="c-image-manager__action c-image-manager__action--hide-overflow" ng-click="vm.removeImage(image)"><i class="mi">clear</i></span>
                    <vm-menu position="bottom left" move-to-body="true">
                        <vm-menu-target class="c-image-manager__action c-image-manager__action--overflow u-light-primary">
                            <i class="mi">more_vert</i>
                        </vm-menu-target>
                        <vm-menu-content>
                            <vm-menu-item ng-click="vm.openImageMetadataModal(image)">Image Attributes</vm-menu-item>
                            <vm-menu-item ng-click="vm.removeImage(image)">Delete</vm-menu-item>
                        </vm-menu-content>
                    </vm-menu>
                </div>
            </li>
            <li class="c-image-manager__item c-image-manager__item--loading" ng-class="{'c-image-manager__item--single' : vm.singleMode}" ng-repeat="file in vm.files track by $index">
                <md-progress-circular class="md-accent" md-diameter="60" md-mode="indeterminate"></md-progress-circular>
            </li>

            <div class="c-image-upload"
                ngf-drop
                ngf-multiple="!vm.singleMode" ngf-allow-dir="!vm.singleMode"
                ngf-change="vm.uploadImages($files, $invalidFiles); vm.trackDrop();"
                ngf-drag-over-class="'c-image-upload--dropzone-active'"
                ngf-capture="'camera'"
                ngf-max-size="5000000"
                ngf-accept="'image/*'"
                ngf-pattern="'.jpg,.jpeg,.png,.gif'"
                ng-show="!vm.singleMode || (vm.singleMode && !image && !vm.files.length)"
                ng-if="!vm.galleryMode">
                <div class="c-image-upload__camera"
                    ngf-select
                    ngf-multiple="true"
                    ngf-change="vm.uploadImages($files, $invalidFiles);"
                    ngf-capture="'camera'"
                    ngf-max-size="5000000"
                    ngf-accept="'image/*'"
                    ngf-pattern="'.jpg,.jpeg,.png,.gif'">
                    <div class="c-image-upload__camera-icon">
                        <svg viewBox="0 0 74 58" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                            <!-- Generator: Sketch 3.3.3 (12081) - http://www.bohemiancoding.com/sketch -->
                            <title>camera</title>
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                <g id="Default-State" sketch:type="MSArtboardGroup" transform="translate(-573.000000, -371.000000)" fill="#000000" opacity="0.197411381">
                                    <g id="Images" sketch:type="MSLayerGroup" transform="translate(290.000000, 296.000000)">
                                        <g id="Bitmap-+-add-+-Add-Photos" transform="translate(261.000000, 75.000000)" sketch:type="MSShapeGroup">
                                            <path d="M94,58 L81,58 C79.896,58 79,57.104 79,56 C79,54.895 79.896,54 81,54 L92,54 L92,14 L74,14 C73.393,14 72.818,13.724 72.439,13.25 L65.039,4 L52.961,4 L45.561,13.25 C45.182,13.724 44.608,14 44,14 L26,14 L26,54 L37,54 C38.105,54 39,54.895 39,56 C39,57.104 38.105,58 37,58 L24,58 C22.896,58 22,57.104 22,56 L22,12 C22,10.896 22.896,10 24,10 L43.039,10 L50.439,0.75 C50.818,0.276 51.393,0 52,0 L66,0 C66.607,0 67.182,0.276 67.561,0.75 L74.961,10 L94,10 C95.104,10 96,10.896 96,12 L96,56 C96,57.104 95.104,58 94,58 L94,58 Z M59,22 C51.28,22 45,28.28 45,36 C45,43.72 51.28,50 59,50 C66.72,50 73,43.72 73,36 C73,28.28 66.72,22 59,22 L59,22 Z M59,18 C68.941,18 77,26.059 77,36 C77,45.941 68.941,54 59,54 C49.059,54 41,45.941 41,36 C41,26.059 49.059,18 59,18 L59,18 Z" id="camera"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <p class="c-image-upload__text">
                        Drag &amp; drop to upload
                    </p>
                </div>
                <div class="c-image-upload__camera-gallery"
                     image-library-launch
                     image-library-context="imageLibraryContext"
                     image-library-association-tags="imageLibraryAssociationTags"
                     image-library-multi-select="!vm.singleMode"
                     image-library-on-images-selected="vm.onLibraryImagesSelected(selectedImages)">
                    <div class="c-image-upload__camera-icon">
                        <svg viewBox="0 0 74 58" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                            <!-- Generator: Sketch 3.3.3 (12081) - http://www.bohemiancoding.com/sketch -->
                            <title>camera</title>
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                <g id="Default-State" sketch:type="MSArtboardGroup" transform="translate(-573.000000, -371.000000)" fill="#000000" opacity="0.197411381">
                                    <g id="Images" sketch:type="MSLayerGroup" transform="translate(290.000000, 296.000000)">
                                        <g id="Bitmap-+-add-+-Add-Photos" transform="translate(261.000000, 75.000000)" sketch:type="MSShapeGroup">
                                            <path d="M94,58 L81,58 C79.896,58 79,57.104 79,56 C79,54.895 79.896,54 81,54 L92,54 L92,14 L74,14 C73.393,14 72.818,13.724 72.439,13.25 L65.039,4 L52.961,4 L45.561,13.25 C45.182,13.724 44.608,14 44,14 L26,14 L26,54 L37,54 C38.105,54 39,54.895 39,56 C39,57.104 38.105,58 37,58 L24,58 C22.896,58 22,57.104 22,56 L22,12 C22,10.896 22.896,10 24,10 L43.039,10 L50.439,0.75 C50.818,0.276 51.393,0 52,0 L66,0 C66.607,0 67.182,0.276 67.561,0.75 L74.961,10 L94,10 C95.104,10 96,10.896 96,12 L96,56 C96,57.104 95.104,58 94,58 L94,58 Z M59,22 C51.28,22 45,28.28 45,36 C45,43.72 51.28,50 59,50 C66.72,50 73,43.72 73,36 C73,28.28 66.72,22 59,22 L59,22 Z M59,18 C68.941,18 77,26.059 77,36 C77,45.941 68.941,54 59,54 C49.059,54 41,45.941 41,36 C41,26.059 49.059,18 59,18 L59,18 Z" id="camera"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="or">
                    <span class="or__line"></span> <span class="or__text">Or</span> <span class="or__line"></span>
                </div>
                <div class="c-image-upload__browse">
                    <button
                        class="c-button c-button--secondary-filled"
                        image-library-launch
                        image-library-context="imageLibraryContext"
                        image-library-association-tags="imageLibraryAssociationTags"
                        image-library-multi-select="!vm.singleMode"
                        image-library-on-images-selected="vm.onLibraryImagesSelected(selectedImages)">
                        <i class="mi">collections</i> Browse Gallery
                    </button>
                </div>
                <div class="c-image-upload__dropzone">
                    <i class="c-image-upload__dropzone-icon u-dark-disabled mi">cloud_upload</i>
                    <p class="c-image-upload__dropzone-text u-dark-secondary u-bold">Drop here to upload</p>
                </div>
            </div>
        </ul>
    </div>
</div>
