/* ===========================================================================
    Utilities
   =========================================================================== */

/**
 *
 * Description goes here
 *
 */


/* Text alignment
   =========================================================================== */
.u-center { text-align: center !important; }
.u-left { text-align: left !important; }
.u-right { text-align: right !important; }

@include mobile() {
    .u-center-mobile { text-align: center !important; }
    .u-left-mobile { text-align: left !important; }
    .u-right-mobile { text-align: right !important; }
}

@include gt-mobile() {
    .u-center-gt-mobile { text-align: center !important; }
    .u-left-gt-mobile { text-align: left !important; }
    .u-right-gt-mobile { text-align: right !important; }
}


/* Colors
   =========================================================================== */
.u-light-primary { color: $light-primary-text !important; }
.u-light-secondary { color: $light-secondary-text !important; }
.u-dark-primary { color: $dark-primary-text !important; }
.u-dark-secondary { color: $dark-secondary-text !important; }
.u-dark-disabled { color: $dark-disabled-text !important; }


/* Font styles
   =========================================================================== */
.u-bold { font-weight: bold !important; }
.u-text-small { font-size: 14px !important; }
.u-text-compact { line-height: 1.2 !important; }
.u-uppercase { text-transform: uppercase !important; }


/* Display styles
   =========================================================================== */
.u-block { display: block !important; }
.u-inline-block { display: inline-block !important; }
.u-hide { display: none !important; }

@include mobile() {
    .u-block-mobile { display: block !important; }
    .u-inline-block-mobile { display: inline-block !important; }
    .u-hide-mobile { display: none !important; }
}

@include gt-mobile() {
    .u-block-gt-mobile { display: block !important; }
    .u-inline-block-gt-mobile { display: inline-block !important; }
    .u-hide-gt-mobile { display: none !important; }
}


/* Padding & Margins
   =========================================================================== */
.u-no-margin { margin: 0 !important; }
.u-no-margin-top { margin-top: 0 !important; }
.u-no-margin-left { margin-left: 0 !important; }
.u-no-margin-right { margin-right: 0 !important; }
.u-no-margin-bottom { margin-bottom: 0 !important; }

.u-no-padding { padding: 0 !important; }
.u-no-padding { padding: 0 !important; }
.u-no-padding-top { padding-top: 0 !important; }
.u-no-padding-bottom { padding-bottom: 0 !important; }
.u-no-padding-left { padding-left: 0 !important; }
.u-no-padding-right { padding-right: 0 !important; }

.u-padding { padding: $unit !important; }
.u-padding-top { padding-top: $unit !important; }
.u-padding-bottom { padding-bottom: $unit !important; }
.u-padding-left { padding-left: $unit !important; }
.u-padding-right { padding-right: $unit !important; }

@for $i from 1 through 3 {
    .u-padding-#{$i} { padding: $unit * $i !important; }
    .u-padding-top-#{$i} { padding-top: $unit * $i !important; }
    .u-padding-bottom-#{$i} { padding-bottom: $unit * $i !important; }
    .u-padding-left-#{$i} { padding-left: $unit * $i !important; }
    .u-padding-right-#{$i} { padding-right: $unit * $i !important; }
}


/* Width & Height
   =========================================================================== */
.u-full-height { height: 100% !important; }
.u-full-width { width: 100% !important; }