<div class="button__scope l-page l-page--has-app-bar l-page--blue" dynamic-background>
    <nav class="c-app-bar c-app-bar--blue">
        <div class="c-app-bar__left">
            <button class="c-button c-button--icon"><i class="mi">menu</i></button>
            <span class="c-app-bar__title">Cards</span>
        </div>
        <div class="c-app-bar__right">
            <button class="c-button c-button--icon"><i class="mi">more_vert</i></button>
        </div>
    </nav>
    <div class="l-page__primary">
        <div class="c-natural-language c-natural-language--light c-natural-language--sm u-center">
            <div class="c-natural-language__section">
                <span class="c-natural-language__bold">Cards</span> are containers used to organize groups of smaller components.
            </div>
        </div>
    </div>
    <div class="l-page__secondary" dynamic-background-end>
        <!-- Base Card -->
        <div class="c-card">
            <div class="c-card__content">
                <div class="c-card__header">
                    <span>
                        <h1 class="c-card__title">Card Title</h1>
                        <span class="c-card__sub-title">(Card subtitle)</span>
                    </span>
                    <span class="c-badge c-badge--success">Stable</span>
                </div>
                <div class="c-card__body">
                    <p class="c-card__description">This is the card description.</p>

                    <pre class="prettyprint">&lt;div class="c-card">
    &lt;div class="c-card__content">
        &lt;div class="c-card__header">
            &lt;span>
                &lt;h1 class="c-card__title">Card Title&lt;/h1>
                &lt;span class="c-card__sub-title">(Card subtitle)&lt;/span>
            &lt;/span>
            &lt;span class="c-badge c-badge--success">Stable&lt;/span>
        &lt;/div>
        &lt;div class="c-card__body">
            &lt;p class="c-card__description">This is the card description.&lt;/p>
        &lt;/div>
    &lt;/div>
&lt;/div></pre>
                </div>
            </div>
        </div>
        <!-- End Base Card -->

        <!-- Card With Footer -->
        <div class="c-card">
            <div class="c-card__content">
                <div class="c-card__header">
                    <h1 class="c-card__title">Card with footer</h1>
                    <span class="c-badge c-badge--success">Stable</span>
                </div>
                <div class="c-card__body">
                    <p class="c-card__description">Card footers provide auxillary actions or content. Card footers are optional.</p>
                    
            <pre class="prettyprint">&lt;div class="c-card">
    &lt;div class="c-card__content">
        &lt;div class="c-card__header">
            &lt;h1 class="c-card__title">Card with footer&lt;/h1>
            &lt;span class="c-badge c-badge--success">Stable&lt;/span>
        &lt;/div>
        &lt;div class="c-card__body">
            &lt;p class="c-card__description">Card footers provide auxillary actions or content.
                Card footers are optional.&lt;/p>
        &lt;/div>
        &lt;div class="c-card__footer">
            &lt;p>Card footer&lt;/p>
        &lt;/div>
    &lt;/div>
&lt;/div></pre>
                </div>
                <div class="c-card__footer">
                    <p>Card footer</p>
                </div>
            </div>
        </div>
        <!-- End Card With Footer -->

        <!-- Card With Table -->
        <div class="c-card">
            <div class="c-card__content">
                <div class="c-card__header">
                    <h1 class="c-card__title">Card with table</h1>
                    <span class="c-badge c-badge--success">Stable</span>
                </div>
                <div class="c-card__body">
                    <p class="c-card__description">Tables within cards override the left and right padding of a
                        card.</p>
                </div>
                <table class="c-table c-table--drag-handle c-table--overflow">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Method name</th>
                        <th>duration</th>
                        <th>modifier</th>
                        <th>free shipping</th>
                        <th>price</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="c-drag-handle">
                            <i class="mi">more_vert</i>
                            <i class="mi">more_vert</i>
                        </td>
                        <td class="c-table__primary-col">Expedited</td>
                        <td>2-3 Days</td>
                        <td>Price</td>
                        <td>No</td>
                        <td>$17+</td>
                        <td><i class="mi">more_vert</i></td>
                    </tr>
                    <tr>
                        <td class="c-drag-handle">
                            <i class="mi">more_vert</i>
                            <i class="mi">more_vert</i>
                        </td>
                        <td class="c-table__primary-col">Expedited</td>
                        <td>2-3 Days</td>
                        <td>Price</td>
                        <td>No</td>
                        <td>$17+</td>
                        <td><i class="mi">more_vert</i></td>
                    </tr>
                    </tbody>
                </table>
                <div class="c-card__body">
                    <pre class="prettyprint">&lt;div class="c-card__header">
    &lt;h1 class="c-card__title">Card with table&lt;/h1>
&lt;/div>
&lt;div class="c-card__body">
    &lt;p class="c-card__description">Tables within cards override the left and right padding of a
        card.&lt;/p>
&lt;/div>
&lt;table class="c-table c-table--drag-handle c-table--overflow">
    &lt;thead>
    &lt;tr>
        &lt;th>&lt;/th>
        &lt;th>Method name&lt;/th>
        &lt;th>duration&lt;/th>
        &lt;th>modifier&lt;/th>
        &lt;th>free shipping&lt;/th>
        &lt;th>price&lt;/th>
        &lt;th>&lt;/th>
    &lt;/tr>
    &lt;/thead>
    &lt;tbody>
    &lt;tr>
        &lt;td class="c-drag-handle">
            &lt;i class="mi">more_vert&lt;/i>
            &lt;i class="mi">more_vert&lt;/i>
        &lt;/td>
        &lt;td class="c-table__primary-col">Expedited&lt;/td>
        &lt;td>2-3 Days&lt;/td>
        &lt;td>Price&lt;/td>
        &lt;td>No&lt;/td>
        &lt;td>$17+&lt;/td>
        &lt;td>&lt;i class="mi">more_vert&lt;/i>&lt;/td>
    &lt;/tr>
    &lt;tr>
        &lt;td class="c-drag-handle">
            &lt;i class="mi">more_vert&lt;/i>
            &lt;i class="mi">more_vert&lt;/i>
        &lt;/td>
        &lt;td class="c-table__primary-col">Expedited&lt;/td>
        &lt;td>2-3 Days&lt;/td>
        &lt;td>Price&lt;/td>
        &lt;td>No&lt;/td>
        &lt;td>$17+&lt;/td>
        &lt;td>&lt;i class="mi">more_vert&lt;/i>&lt;/td>
    &lt;/tr>
    &lt;/tbody>
&lt;/table></pre>
                </div>
            </div>
        </div>
        <!-- End Card With Table -->

        <!-- Card With Media Content -->
        <div class="c-card c-card--with-media">
            <div class="c-card__content">
                <div class="c-card__header">
                    <h1 class="c-card__title">Card with media content</h1>
                    <span class="c-badge c-badge--success">Stable</span>
                </div>
                <div class="c-card__body">
                    <p class="c-card__description">The media content column can be on the right or the left of the card</p>
                    
                    <pre class="prettyprint">&lt;div class="c-card c-card--with-media">
    &lt;div class="c-card__content">
        &lt;div class="c-card__header">
            &lt;h1 class="c-card__title">Card with media content&lt;/h1>
            &lt;span class="c-badge c-badge--success">Stable&lt;/span>
        &lt;/div>
        &lt;div class="c-card__body">
            &lt;p class="c-card__description">The media content column can be on the right or the left of the card&lt;/p>


        &lt;/div>
    &lt;/div>

    &lt;div class="c-card__media c-card__media--25 empty-map">
        &lt;i class="mi mi--xl u-light-primary">location_on&lt;/i>
    &lt;/div>
&lt;/div></pre>
                </div>
            </div>

            <div class="c-card__media c-card__media--30 empty-map">
                <i class="mi mi--xl u-light-primary">location_on</i>
            </div>
        </div>
        <!-- End Card With Media Content -->
    </div>
</div>