.c-prodis {
    top: 50%;
    transform: translate3d(0, -50%, 0);
    position: relative;
    overflow: hidden;
    transition: height 300ms $td-ease-out;

    &__section {
        display: inline-block;
        opacity: 0;
        transition: opacity 200ms $td-ease-out 100ms;

        &--complete {
            display: block;
            margin-top: 48px;
            margin-bottom: 0;
        }

        &--visible {
            opacity: 1;
        }
    }
}