@mixin c-tab-color($background, $text, $text-active: inherit) {
    .c-tab__header {
        color: $text;
        background: $background;
    }

    .c-tab__header-wrapper {
        background: $background;
    }

    .c-tab__header-item {
        color: $text;

        &.active,
        &:hover {
            @if $text-active != 'inherit' {
                color: $text-active;
            } @else {
                color: $text;
            }
        }
    }
}

.c-tab {
    &__header-wrapper {
        width: 100%;
        overflow: auto;
    }

    &__header {
        padding-left: 8px;
        padding-right: 8px;
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
    }

    &__header-item {
        color: inherit;

        &:hover {
            color: inherit;
            background: transparent;
        }

        &:not(.active) {
            padding-bottom: 4px;
        }

        &.active {
            border-bottom: 4px solid $thread-primary;
        }
    }

    &__content-wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        max-width: 100%;
        overflow: hidden;
        position: relative;
    }

    &__content {
        position: relative;
        overflow: visible;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        min-height: 0;
    }

    &__body {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        bottom: auto;
        display: inline-block;
        transition: transform 500ms $td-ease;

        &.active {
            position: relative;
            transform: translate3d(0, 0, 0);
        }

        &.left {
            transition: transform 500ms $td-ease, opacity 0ms 500ms;
            opacity: 0;
            transform: translate3d(-100%, 0, 0);
        }

        &.right {
            transition: transform 500ms $td-ease, opacity 0ms 500ms;
            opacity: 0;
            transform: translate3d(100%, 0, 0);
        }
    }

    &__item {
        transition: position 0ms 500ms;
    }

    &--orange { @include c-tab-color($thread-orange, $light-secondary-text, $light-primary-text); }
}

.js-tab__title {
    > * {
        pointer-events: none;
    }
}