/* ===========================================================================
    Tabs
   =========================================================================== */

/**
 *
 * Description goes here
 *
 */

.c-tab {
    &__header-wrapper {
        width: 100%;
        overflow: auto;
    }

    &__header {
        padding-left: $unit;
        padding-right: $unit;
        margin-left: auto;
        margin-right: auto;
        max-width: $content-width;
    }

    &__header-item {
        color: inherit;

        &:hover {
            color: inherit;
            background: transparent;
        }

        &:not(.is-active) {
            padding-bottom: 4px;
        }

        &.is-active {
            border-bottom: 4px solid $thread-primary;
        }
    }

    &__content-wrapper {
        margin-left: auto;
        margin-right: auto;
        width: $content-width;
        max-width: 100%;
        overflow: hidden;
        position: relative;
    }

    &__content {
        position: relative;
        overflow: visible;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        min-height: 0;
    }

    &__body {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        bottom: auto;
        display: inline-block;
        transition: transform 500ms $td-ease;

        &.is-active {
            position: relative;
            transform: translate3d(0, 0, 0);
        }

        &.is-left {
            transition: transform 500ms $td-ease, opacity 0ms 500ms, visibility 0ms 500ms;
            visibility: hidden;
            opacity: 0;
            transform: translate3d(-100%, 0, 0);
        }

        &.is-right {
            transition: transform 500ms $td-ease, opacity 0ms 500ms, visibility 0ms 500ms;
            visibility: hidden;
            opacity: 0;
            transform: translate3d(100%, 0, 0);
        }
    }

    &__item {
        transition: position 0ms 500ms;
    }
}


/* Configuration Mixins
   =========================================================================== */
@mixin c-tab-color($background, $text, $text-active: inherit) {
    .c-tab__header {
        color: $text;
        background: $background;
    }

    .c-tab__header-wrapper {
        background: $background;
    }

    .c-tab__header-item {
        color: $text;

        &.is-active,
        &:hover {
            @if $text-active != 'inherit' {
                color: $text-active;
            } @else {
                color: $text;
            }
        }
    }
}


/* Color variants
   =========================================================================== */
.c-tab--white { @include c-tab-color($thread-white, $light-secondary-text, $light-primary-text); }
.c-tab--purple { @include c-tab-color($thread-purple, $light-secondary-text, $light-primary-text); }
.c-tab--green { @include c-tab-color($thread-green, $light-secondary-text, $light-primary-text); }
.c-tab--cyan { @include c-tab-color($thread-cyan, $light-secondary-text, $light-primary-text); }
.c-tab--teal { @include c-tab-color($thread-teal, $light-secondary-text, $light-primary-text); }
.c-tab--orange { @include c-tab-color($thread-orange, $light-secondary-text, $light-primary-text); }
.c-tab--blue { @include c-tab-color($thread-blue, $light-secondary-text, $light-primary-text); }
.c-tab--salmon { @include c-tab-color($thread-salmon, $light-secondary-text, $light-primary-text); }
.c-tab--pink { @include c-tab-color($thread-pink, $light-secondary-text, $light-primary-text); }
.c-tab--red-orange { @include c-tab-color($thread-red-orange, $light-secondary-text, $light-primary-text); }
.c-tab--light-gray { @include c-tab-color($thread-gray, $light-secondary-text, $light-primary-text); }
.c-tab--dark-gray { @include c-tab-color($thread-dark-gray, $light-secondary-text, $light-primary-text); }


/* Javascript specific styles
   =========================================================================== */
.js-tab__title {
    > * {
        pointer-events: none;
    }
}