.c-menu {
    $menu-unit: $unit * 7;

    position: relative;
    display: inline-block;

    &__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        z-index: 100;

        &.is-open {
            pointer-events: auto;
        }
    }

    &__content {
        padding-top: $unit;
        padding-bottom: $unit;
        box-shadow: $shadow;

        width: $menu-unit * 2;
        transform: scale(1, 0);
        opacity: 0;
        background: white;
        transition: opacity 200ms $td-ease-in, transform 0ms 200ms;
        position: absolute;
        z-index: 200;

        @for $i from 1 through 5 {
            &--width-#{$i} {
                width: $menu-unit * $i;
            }
        }

        &--top {
            top: 0;
            transform-origin: top;
        }

        &--left {
            left: 8px;
        }

        &--right {
            right: 8px;
        }

        &--bottom {
            bottom: 0;
            transform-origin: bottom;
        }

        &--on-body {
            position: fixed;
        }

        &.is-open {
            opacity: 1;
            transition: transform 200ms $td-ease-out;
            transform: scale(1, 1);

            .c-menu {
                &__item {
                    opacity: 1;
                }
            }
        }
    }

    &__item {
        line-height: 48px;
        opacity: 0;
        transition: opacity 150ms $td-ease-out 150ms, background 200ms $td-ease;
        font-size: 16px;
        letter-spacing: 0;
        text-transform: none;
        font-weight: normal;
        color: $dark-primary-text;
        display: block;
        text-align: left;
    }
}