<md-dialog class="image-metadata" md-theme="{{ theme }}" layout="column" layout-gt-sm="row">
    <div class="modal__media">
        <img ng-src="{{vm.selectedImage.imageLink.fullUri}}" class="selected-image">
    </div>
    <div layout="column" flex>
        <md-dialog-content flex>
            <div class="md-dialog-content" flex>
                <h3 class="modal__header">{{'IMAGE.METADATATITLE.TEXT' | translate}}</h3>
                <div layout="column" layout-align="center stretch">
                    <md-input-container class="md-block md-accent">
                        <label>
                            {{'IMAGE.TITLE.TEXT' | translate}}
                        </label>
                        <input type="text" ng-model="vm.selectedImage.title" maxlength="75">
                    </md-input-container>

                    <md-input-container class="md-block md-accent">
                        <label>
                            {{'IMAGE.DESCRIPTION.TEXT' | translate}}
                        </label>
                        <input type="text" ng-model="vm.selectedImage.description" maxlength="160">
                    </md-input-container>

                    <md-input-container class="md-block md-accent">
                        <label>
                            {{'IMAGE.ALTTEXT.TEXT' | translate}}
                        </label>
                        <input type="text" ng-model="vm.selectedImage.altText" maxlength="75">
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancelDialog('cancel')" gtm-click-event="{{gtmid}}_imageMetadataModal-cancel">{{'BUTTON.CANCEL.TEXT' | translate}}</md-button>
            <md-button class="md-accent" gtm-click-event="{{gtmid}}_imageMetadataModal-save" ng-click="closeDialog()">{{'BUTTON.SAVE.TEXT' | translate}}</md-button>
        </md-dialog-actions>
    </div>
</md-dialog>
